<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Albums</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5e492a7d44.js" crossorigin="anonymous"></script>
</head>
<script href="js/bootstrap.min.js"></script>
<script href="js/jquery.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <br>
    <div class="row" style="height: 16rem;">

      <div class="col-3 col-parm">
        <div class="card" style="height: 16rem;">
          <div class="card album-background1" style="height :16rem;">
            <div class="overlay">
              <div class="card-body" style="text-align: center;">
                <a class="card-link" style="text-align: center;">
                  <button type="button" class="btn btn-outline-dark"><span class="far fa-heart"></span>
                  </button>
                </a>
                <a class="card-link" style="text-align: center;">
                  <button type="button" class="btn btn-outline-dark"><span class="far fa-play-circle"></span>
                    Play</button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: justify;">Album name

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card md-3" style="max-width: 560px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="images/lily.jpg" style="width: 140px; height: 140px; padding: 15px;" class="card-img" alt="lily">

        </div>
        <div class="col-md-5">
          <div class="card-body" style="float:left;">
            <h4 class="card-title">Song name</h4>
            <p class="card-text">artist name</p>
            <p class="card-text"><small class="text-muted">duration</small></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-title" style="text-align: right;">

            <a class="card-link">
              <button type="button" class="btn btn-outline-dark"><span class="fas fa-heart"></span>
              </button>
            </a>

          </div>
          <div class="card-body" style="text-align: center;">
            <a class="card-link">
              <button type="button" style="padding: 10px;" class="btn btn-outline-dark"><span
                  class="far fa-play-circle"></span>
                Play</button>
            </a>
          </div>

        </div>
      </div>


    </div>

  </div>



</body>

</html>